{# empty Twig template #}
<div class="prode-posiciones-usuario">
    <h4>Resultados última fecha</h4>
    {% if fecha is not null %}
    <h5>{{ fecha.name }} - {{fecha.liga.shortname }}</h5>
    <p class="posicion"><span>{{ posicion_fecha.posicion }}º</span>en la {{fecha.name}}, con <strong>{{posicion_fecha.aciertos}} aciertos.</strong></p>
    <p class="posicion"><span>{{ posicion_torneo.posicion }}º</span> en el torneo {{fecha.liga.shortname}}, con <strong>{{posicion_torneo.aciertos}} aciertos en total.</strong></p>
    {% else %}
    <p>El usuario no ha apostado todavía.</p>
    {% endif %}
</div>